on: 
  pull_request:
    types:
     - opened
     - edited
    branches:
     - test1
jobs:
  Merge_Code:
    name: gitmerge
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Run script file
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      run: |
         chmod +x ./public/scripts/test.sh
         git checkout ${GITHUB_HEAD_REF}
  
      shell: bash
     
